<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="http://localhost:4567/css/foundation.css">
  <link rel="stylesheet" type="text/css" href="http://localhost:4567/css/app.css">
</head>
<body>
<h1 style="color:red; text-align: center; font-size: 100px"> Student Database </h1>
  <br>
  <%= yield %>
</body>
</html>

