<!DOCTYPE html>
<html>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th{
  background-color: maroon;
  color: white;
}

h3{text-decoration: underline;}


</style>
<head>
	<link rel="stylesheet" type="text/css" href="http://localhost:4567/css/foundation.css">
  <link rel="stylesheet" type="text/css" href="http://localhost:4567/css/app.css">
</head>
<body style="margin-left: :100px; padding: 40px; margin-right: :100px; margin-bottom: :50px;">
<img src="http://localhost:4567/img/CarnegieMellonlogo.jpg" width="300px" height="200px">
<h1 style="color:white; text-align: center; font-size: 50px; background-color: maroon"> Student Tracking System</h1>
  <br>
  <%= yield %>
</body>
</html>

