<form action="/students" method="post">

<div class="row">
  <div class="large-6 columns">
    <div class="row collapse prefix-radius">
      <div class="small-3 columns">
          <span class ="prefix">First Name</span>
        </div>
        <div class="small-9 columns">
          <input type="text" name="firstname">
        </div>
      </div>
    </div>
    <div class="large-6 columns">
    <div class="row collapse prefix-radius">
      <div class="small-3 columns">
          <span class ="prefix">Last Name</span>
        </div>
        <div class="small-9 columns">
          <input type="text" name="lastname">
        </div>
      </div>
    </div>
    <div class="large-6 columns">
    <div class="row collapse prefix-radius">
      <div class="small-3 columns">
          <span class ="prefix">Email</span>
        </div>
        <div class="small-9 columns">
          <input type="text" name="email">
        </div>
      </div>
    </div>
    <div class="large-6 columns">
    <div class="row collapse prefix-radius">
      <div class="small-3 columns">
          <span class ="prefix">Major</span>
        </div>
        <div class="small-9 columns">
          <input type="text" name="major">
        </div>
      </div>
    </div>
    <div class="large-6 columns">
    <div class="row collapse prefix-radius">
      <div class="small-3 columns">
          <span class ="prefix">Graduation Status</span>
        </div>
        <div class="small-9 columns">
          <input type="text" name="graduationstatus">
        </div>
      </div>
    </div>
    <input type="submit" class="button" value="Submit">
  </div>
</form>
